{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<h1> Portraits of Stuy </h1>
<h3> Share your story... or half of it! </h3>

{% if session['username'] %}
<a href="/create_story">Create Your Own Story</a>
<br>
<a href="/logout">Logout</a>
<br>
<h1> View all of your stories below </h1>
<table border="1">
  <tr>
    <th>Story Title</th>
    <th>Content</th>
</tr>
{% for story in stories_contributed %}
<tr>
<td>{{ story[0] }}</td>
<td>{{ story[1] }}</td>
</tr>
{% endfor %}
</table>
<br>
{% else %}
<a href="/login">Login</a>
<br>
<a href="/signup">Register</a>
{% endif %}
{% endblock %}
