{% extends "base.html" %}

{% block title %}
Stories
{% endblock %}

{% block content %}
{% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
  {{ each }}
  <br>
  {% endfor %}
  <br>
  <h1> View all of your stories below </h1>
  <table>
    <tr>
      <th>Story Title</th>
      <th>Latest Updated User</th>
      <th>Latest Addition</th>
  </tr>
{% for story in stories %}
<tr>
  <td>{story[0]}</td>
  <td>{story[1]}</td>
  <td>{story[2]}</td>
</tr>
{% endfor %}
  </table>
  <br>
{% endblock %}
